/* body{
    background-image: url('images\pexels-cottonbro-6153354.jpg');
} */
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
.hero{
    width: 100%;
    min-height: 100vh;
    background-image: url('images/pexels-cottonbro-6153354.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content:center ;
    flex-direction: column;
    /* color:#fff ; */
}
.hero h1{
    font-size:55px;
    font-weight: 600;
    margin-top: -50px;
    margin-bottom: 50px;
    color: #f7e4ef;
}
.hero h1 span{
    
    color: black;
}

textarea {
    width: 600px;
    height: 250px;
    background: rgba(255, 255, 255, 0.4); 
    color: #121111;
    font-size: 15px;
    border: 0;
    outline: 0;
    padding: 20px;
    border-radius: 10px;
    resize: none;
    margin-bottom: 30px;
}

textarea::placeholder{
    font-size: 16px;
    color: #131010;
}
.row{
    width: 600px;
    display: flex;
    align-items: center;
    gap: 20px;
}
button{
    /* background: #ff2963; */
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 35px;
    border: 0;
    outline: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
}
button img{
    width: 36px;
    margin-right: 10px;
}
select{
    flex: 1;
    color:#131010 ;
    background: rgba(255, 255, 255, 0.4); 
    height: 50px;
    padding: 0 20px;
    outline: 0;
    border: 0;
    border-radius: 35px;
    appearance:none;
    background-image: url(images/icons8-dropdown-50.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position-x: calc(100% - 20px);
    background-position-y: 18px;
}



