*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
.hero{
    width: 100%;
    min-height: 100vh;
    /* background: linear-gradient(to right, #a18cd1, #fbc2eb); */
    /* background: linear-gradient(to right, #5ee7df, #b490ca); */
    /* background: linear-gradient(to right, #34e89e, #0f3443); */
    /* background: linear-gradient(to bottom, #2b5876, #4e4376); */
    /* background: linear-gradient(to right, #00ff00, #32cd32); */
    background: linear-gradient(to right, #ff9a9e, #fad0c4);
    display: flex;
    align-items: center;
    justify-content:center ;
    flex-direction: column;
    color:#fff ;
}
.hero h1{
    font-size:45px;
    font-weight: 500;
    margin-top: -50px;
    margin-bottom: 50px;
}
.hero h1 span{
    color: #ff2963;
}
textarea{
    width:600px;
    height: 250px;
    background:#f7e4ef;
    color: #121111;
    font-size: 15px;
    border: 0;
    outline: 0;
    padding: 20px;
    border-radius: 10px;
    resize:none ;
    margin-bottom: 30px;
}
textarea::placeholder{
    font-size: 16px;
    color: #131010;
}
.row{
    width: 600px;
    display: flex;
    align-items: center;
    gap: 20px;
}
button{
    background: #ff2963;
    color: #fff;
    font-size: 16px;
    padding: 5px 50px;
    border-radius: 15px;
    border: 0;
    outline: 0;
    cursor: pointer;
}